<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DRI Plants in India</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/data.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
</head>

<body>
    <div id="map-container" class="map-container"></div>
    <!-- <h1 id="bioMassDetails" style="text-align: center;">Details of Bio Mass as per state</h1> -->

    <!-- Scrollable List Container for state buttons -->
    <div id="state-list-container" class="state-list-container">
        <!-- Buttons will be dynamically added here -->
    </div>

    <!-- Container to display the biomass details of the selected state -->
    <div id="biomass-details-container" style="text-align: center; margin-top: 20px;"></div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>
